* {
    margin: 0;
}

.bodyBox {
    display: flex;
}

.pictureBox {
    position: relative;
    width: 45%;
}

.eaglePic {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
}

.slogan {
    color: white;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 40vh;
    width: 100%;
    background: black;
    opacity: 0.6;
}

.infoBox {
    width: 60vw;
    height: 100vh;
    background-color: azure;
}

.infoCard {
    background-color: beige;
    padding-top: 5vh;
    height: 32vh;
    display: flex;
    flex-direction: column;
}

.formCard {
    background-color: aliceblue;
    height: 24vh;
    padding: 2vh 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buttonCard {
    background-color: darksalmon;
    z-index: -1;
    height: 44vh;
    padding: 2vh 2vw;
}

.infoPara {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vh 2vw;
}

.groupDivs {
    display: flex;
    padding: 1.5vh 1vw;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.createAccount {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: green;
    color: aliceblue;
}